<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>com.controllers.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInforController</servlet-name>
        <servlet-class>com.controllers.ChangeInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>com.controllers.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassController</servlet-name>
        <servlet-class>com.controllers.ForgetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllController</servlet-name>
        <servlet-class>com.adminController.SelectAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.homeControllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.homeControllers.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.homeControllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>com.adminController.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>com.adminController.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductController</servlet-name>
        <servlet-class>com.adminController.LoadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>com.adminController.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountController</servlet-name>
        <servlet-class>com.controllers.LoadAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountController</servlet-name>
        <servlet-class>com.adminController.ManagerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>com.adminController.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSupplierController</servlet-name>
        <servlet-class>com.adminController.ManagerSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>com.homeControllers.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageReceivedController</servlet-name>
        <servlet-class>com.adminController.MessageReceivedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>com.homeControllers.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.homeControllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>com.homeControllers.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderController</servlet-name>
        <servlet-class>com.adminController.ManagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDetailController</servlet-name>
        <servlet-class>com.controllers.ChangeNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInforController</servlet-name>
        <url-pattern>/ChangeInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassController</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductController</servlet-name>
        <url-pattern>/LoadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountController</servlet-name>
        <url-pattern>/LoadAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountController</servlet-name>
        <url-pattern>/ManagerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/ManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSupplierController</servlet-name>
        <url-pattern>/ManagerSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageReceivedController</servlet-name>
        <url-pattern>/MessageReceived</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderController</servlet-name>
        <url-pattern>/ManagerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDetailController</servlet-name>
        <url-pattern>/ChangeName</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30000
        </session-timeout>
    </session-config>
</web-app>
